%h2 Entrar no sistema
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label :email, 'Login:', :maxlength => 50, :size => 50
    = f.email_field :email, :placeholder => 'informe seu email'
  %p
    = f.label :password, 'Senha: ', :maxlength => 30, :size => 30
    = f.password_field :password, :placeholder => 'informe sua senha'
  %div= f.submit "Entrar"
= render :partial => "devise/shared/links"

